@COLOR_ROW_BG: #263544;
@COLOR_BUTTON_BG: rgb(255, 153, 0);
@COLOR_FG: #FFF;
@COLOR_FG_HEADINGS: #FF9900;

@SIZE_H1: 3.5rem;
@SIZE_H2: 3rem;
@SIZE_H3: 2rem;
@SIZE_H4: 1.5rem;
@SIZE_H5: 1.0rem;
@SIZE_H6: 0.75rem;

.slideforever() {
    -webkit-animation: slide 180s linear infinite; /* Safari 4+ */
    -moz-animation:    slide 180s linear infinite; /* Fx 5+ */
    -o-animation:      slide 180s linear infinite; /* Opera 12+ */
    animation:         slide 180s linear infinite; /* IE 10+, Fx 29+ */

    @-webkit-keyframes slide {
        0%    { background-position: 600% 0; }
        100%  { background-position: 0% 0; }
    }

    @-moz-keyframes slide {
        0%    { background-position: 600% 0; }
        100%  { background-position: 0% 0; }
    }

    @-o-keyframes slide {
        0%    { background-position: 600% 0; }
        100%  { background-position: 0% 0; }
    }

    @keyframes slide {
        0%    { background-position: 600% 0; }
        100%  { background-position: 0% 0; }
    }
}


.nofilter(){
    -webkit-filter: none;
    filter: none;
}

.blurfilter() {
    -webkit-filter: blur(5px) grayscale(1);
    filter: blur(5px) grayscale(1);
}