body {
    .panel {
        min-height: 30rem;

        &.hero-panel {
            background-image: url('/images/background.png');
            background-repeat: repeat-x;
            -webkit-animation: slide 30s linear infinite;
            -webkit-animation: slide 30s linear infinite; /* Safari 4+ */
            -moz-animation:    slide 30s linear infinite; /* Fx 5+ */
            -o-animation:      slide 30s linear infinite; /* Opera 12+ */
            animation:         slide 30s linear infinite; /* IE 10+, Fx 29+ */

            @-webkit-keyframes slide {
                0%    { background-position: 100% 0; }
                100%  { background-position: 0% 0; }
            }

            @-moz-keyframes slide {
                0%    { background-position: 100% 0; }
                100%  { background-position: 0% 0; }
            }

            @-o-keyframes slide {
                0%    { background-position: 100% 0; }
                100%  { background-position: 0% 0; }
            }

            @keyframes slide {
                0%    { background-position: 100% 0; }
                100%  { background-position: 0% 0; }
            }

            h1 {
                color: #fff;
                margin-top: 10rem;
            }
        }

        &.contact-panel {
            background-image: url('http://upload.wikimedia.org/wikipedia/commons/f/fc/Math_class_in_Da_Ji_Junior_High_School_2006-12-1.jpg');
        }
    }
}