doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    title= title
    link(rel='stylesheet', href='/stylesheets/foundation/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/foundation/normalize.css')
    link(rel='stylesheet', href='/stylesheets/slick.css')
    link(rel='stylesheet', href='/stylesheets/slick-theme.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/scripts/modernizr.js')
  body
    block content
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/scripts/foundation.min.js')
    script(src='/scripts/foundation.magellan.js')
    script(src='/scripts/slick.min.js')
    script(src='/scripts/script.js')
